@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do List Project</h1>
    <p class="lead">Hi There!...
    <br />
    <br />
    You will need to Login to work with your To Do list. If you are a new user then kindly Register First and then work with your To Do List
    <br />
    <br />
    Thank You!
    </p>
</div>
